*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #f1f1f1!important;
}

.overlay {
  color: white;
}

.astro-4YTBCMPP span {
  display: inline block;
  margin: 5px 0;
}

@media (max-width: 414px) {
  .desc {
    display: none;
  }
  .tagline{
    display: none;
  }
}

._monogram_7dyb5_30{
  transition: transform 500ms ease-in-out;
}
._monogram_7dyb5_30:hover, ._monogram_7dyb5_30:focus {
  transition: transform 500ms ease-in-out;
  transform: rotate(-360deg);

}

.astro-4YTBCMPP {
  background-color: transparent;
}

._link_7dyb5_16::after {
  content: "";
  display: block;
  position: relative;
  background: var(--t-subdue);
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  transform-origin: left;
  transform: scaleX(33%);
  transition: transform 0.2s ease-out;
}

._link_7dyb5_16:hover::after, ._link_7dyb5_16:focus::after {
  transform: scaleX(100%);
  background: var(--t-active)
}

::selection {
  background-color: rgb(46, 46, 46);
  color: rgb(206, 206, 206);
}

h1{
  font-size:clamp(35px, 7vw, 70px);
}

.sectionTitle{
  font-size:clamp(20px, 4vw, 40px);
}



@keyframes carret {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtitle{
  font-size: clamp(15px, 3vw, 30px);
}

.hero-push-link.active {
  opacity: 1;
}

._link_mrvio_98{
  display: inline;
}

._button_1fbb5_1{
  background-color: transparent !important;
  transition: background-color 300ms;

}

._button_1fbb5_1:hover, ._button_1fbb5_1:focus{
  background-color: #46b5ff42 !important;
  transition: background-color 300ms;
}

.grid:where(.astro-HLE4NI4M) {
  display: grid;
  grid-gap: 3rem
}

.hero{
  height: clamp(300px, 60vh, 600px);
  background-position: center;
}

.objectif{
  margin-top: 50px;
}

.objectif ul{
  padding-left: 30px;
  margin-top: 15px;
}

dt{
  margin-top: 30px;
}

.lienProject a{
  display: block;
  margin-left: clamp(30px, 6vw, 60px);
  margin-top: 10px;
  text-decoration: none;
}

.astro-CT2XOGS6{
  margin-bottom: 15px;
  text-align: justify;
}


.about, .pageProject{
  overflow: hidden;
}
.about div, .pageProject section {
  animation: slideInTop 1s ease-in-out 0s 1 normal forwards;
}

@keyframes slideInTop {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

._desc_mrvio_32 mt0 mb2{
  font-size: clamp(15px, 3vw , 30px);
}